@media (max-width: 576px) { 

    .login-form-block {
        flex-direction: column-reverse;

        #loginform {
            width: 100%;
            margin-bottom: 100px;
        }
    }

    .c-form-block {
        flex-direction: column;

        #c_register_form {
            width: 100%;
            margin-bottom: 100px;
            margin-top: 50px;
        }
    }


}