// Import google fonts
@import url('https://fonts.googleapis.com/css?family=Caveat:400,700|Montserrat:400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Assistant:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara&display=swap');

@font-face {
    font-family: 'Harlowsi';
    src: url('assets/fonts/HARLOWSI.TTF') format('ttf'), url('assets/fonts/HARLOWSI.woff') format('woff');
}

// Name
$font1: "Montserrat", sans-serif;
$font2: "Caveat", sans-serif;
$font3: "Assistant", sans-serif;
$font4: 'Hind Vadodara', sans-serif;
$font5: 'Mukta Vaani', sans-serif;
$font6: 'Merriweather', sans-serif;
$font7: 'Harlowsi', sans-serif;

// Weight
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;



