// Import google fonts
@import url('href="https://fonts.googleapis.com/css?family=Caveat:400,700|Montserrat:400,500,600,700,800&display=swap"');

// Name
$first_font: "Montserrat", sans-serif;
$second_font: "Caveat", sans-serif;

// Weight
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;



