// Main colors

$first_color: rgb(24, 39, 20);
$second_color: #DB9801;
$third_color: #fff;
$fourth_color: #c64a34;
$fifth_color: #D2D7D3;
$sixth_color: #46604C;
$seven_color: #FFFB92;
// Nuances
$third_degrade: rgba(255, 255, 255, 0.6);
$six_degrade: rgba(70, 96, 76, 0.6);


// Box-shadow

$box-shadow: 10px 5px 5px #DAEAEF;