// Main colors

$first_color: rgba(11, 108, 193, 1);
$second_color: rgba(80, 103, 124, 1);
$third_color: rgba(34, 119, 78, 1);
$fourth_color: rgba(118, 35, 53, 1);
$fifth_color: rgba(14, 47, 37, 1);

// Box-shadow

$box-shadow: 10px 5px 5px #333;