// First header

header {
    background-image: url('assets/img/plant3.svg');
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $first_color;
    border: 1px solid $first_color;

nav {
    display: flex!important;
    font-family: $first_font;
    text-transform: uppercase;

    align-items: center;
    justify-content: space-between;

    h1 {
        color: $third_color;
    }

    img {
        width: 300px;
        height: 100px;
        margin: 15px 0;
    }

    ul {
        display: flex;
        margin-bottom: 0;

        .menu-item-14, .menu-item-23, .menu-item-25 {
            margin-left: 50px;
        }

        .current-menu-item a {
            color: $second_color;
            text-decoration: none;
        }

        a {
            color: $third_color;
            font-weight: $semi-bold;
            font-size: 1.2rem;
            transition: all .3s;

            &:hover {
                color: $second_color;
                text-decoration: none;
            }
        }
    }

}

}

// Second header (login)

.menu-main-container {
    margin: 0 auto;
}