#main-section {
    background-color: $sixth_color;
    height: 200vh;
    width: 100%;
    position: relative;
    background-image: url('assets/img/bg_drugs.jpg');
    background-size: contain;
    background-blend-mode: overlay;
    box-shadow: inset 0px 0px 10px 5px #182714;

    .background {
        background-color: #fff;
        float: right;
        margin-top: 10%;
        width: 80%;
        height: 70%;

    }
}
