#main-section {
    height: 200vh;
    width: 100%;

    // box-shadow: inset 0px 0px 10px 5px #182714;

    .background {
        background-color: #fff;
        float: right;
        margin-top: 8%;
        width: 80%;
        height: 30%;

    }

    .image-home img {
        width: 700px;
        margin-top: 50px;
        filter: blur(1.5px);
        box-shadow: 1px 1px 1px 1px #333;
        opacity: 0.9;
    }
}
